<!DOCTYPE html>
<html xmlns:th="http://www.thymeleasf.org">
<head>
<meta charset="UTF-8" />
<title>header</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/original.css" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</head>
<header class="mc_header" th:fragment="header_fragment">
	<div class="mc_page_width">
		<h1 class="mc_header_title">
			<a class="mc_header_a" href="/main" title="MadClub">Biginto</a>
		</h1>
		<input type="submit" value="検索" class="mc_header_submit"/>
		<input type="text" class="mc_header_input" />
	</div>
</header>
</html>