<!DOCTYPE html>
<html xmlns:th="http://www.thymeleasf.org">
<head>
<meta charset="UTF-8" />
<title>header</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/original.css" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</head>
		<div class="mc_body_sidemenu" th:fragment="sidemenu_fragment">
			<h2 class="mc_body_sidemenu_h2">サイドメニュー<small class="mc_body_sidemenu_small">Sidemenu</small></h2>
			<ul class="mc_body_sidemenu_ul">
			<li class="mc_body_sidemenu_li">Web開発 (0)<small class="mc_body_sidemenu_small">Development of Web Site</small></li>
			<li class="mc_body_sidemenu_li">PCゲーム開発 (0)<small class="mc_body_sidemenu_small">Development of PC Game</small></li>
			<li class="mc_body_sidemenu_li">その他 (1)<small class="mc_body_sidemenu_small">Other</small></li>
			</ul>
		</div>
</html>